@import "tailwindcss";
.picture{
  background-image: url("assets/Group\ 20473.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.leaf{
  background-image: url("assets/leaf.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Fen{
  background-image: url("assets/Frame.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}